@font-face { font-family: 'IconicFill'; src: url('../fonts/iconic_fill.eot'); src: url('../fonts/iconic_fill.eot?#iefix') format('embedded-opentype'), url('../fonts/iconic_fill.ttf') format('truetype'), url('../fonts/iconic_fill.svg#iconic') format('svg'); font-weight: normal; font-style: normal; }

html {
    font-family: Helvetica, Arial, "DejaVu Sans", sans-serif;
    color: #0D0F05;
    background-color: #fff;
}

html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

div {
    position: absolute;
}

.track, .play, .help, .info {
    border: 2px solid white;

    z-index: 9001;

    background: rgba(255, 255, 255, 0.8);
}

.help, .info {
    font-size: 16px;
    padding: 10px;
    height: 76px;
    bottom: 48px;
    left: 146px;
    line-height: 1.5em;
}

.help {
    width: 432px;
}

.info {
    width: 194px;
    opacity: 0;
}

.help a, .help a:active, .help a:visited,
.info a, .info a:active, .info a:visited {
    color: #005A8A;
    text-decoration: none;
}

.help span {
  margin-left: 96px;
}

.help .arrow {
  position: absolute;
  left: 0;
  margin: 0;
  width: 96px;
  height: 96px;
  font-size: 96px;
  line-height: 46px;
}

.help .description {
  font-size: 21px;
  font-weight: bold;
}

.track {
    visibility: hidden;
    width: 296px;
    height: 96px;
    bottom: 48px;
    left: 144px;
}


.play {
    width: 96px;
    height: 96px;

    bottom: 48px;
    left: 48px;
}

.play .button {
    display: block;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
}

.symbol {
    font-family: 'IconicFill';
}

.play a {
    text-decoration: none;
}

.play a, .play a:active, .play a:visited {
    //color: #D9028B;
    color: #0D0F05;
}

.visible {
    visibility: visible;
    opacity: 255;
}

.warning {
    color: #FF3700;
}

.fadeout {
  -webkit-transition: opacity 1000ms ease-in;
  -moz-transition: opacity 1000ms ease-in;
  -o-transition: opacity 1000ms ease-in;
  opacity: 0;
}

.fadein {
  -webkit-transition: opacity 1000ms ease 1000ms;
  -moz-transition: opacity 1000ms ease 1000ms;
  -o-transition: opacity 1000ms ease 1000ms;
  opacity: 1;
}

